@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Ubuntu;
    src: url('../assets/fonts/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Kreon;
    src: url('../assets/fonts/Kreon/Kreon-Regular.ttf');
}