@use './mobile/_header.scss';
@use './tablet/common/headerTab';
@import url(_fonts.scss);
.navBox {
  display: flex;
  justify-content: center;
  z-index: 999;
  .navBar {
    z-index: 999;
    width: 100%;
    position: fixed;
    left: 70%;
    margin: 20px 0;
    h2 {
      z-index: 999;
      display: flex;
      align-items: center;
    }
    .linkContainer {
      z-index: 999;
      border-radius: 30px 0 0 30px;
      margin: 10px 0;
      padding: 20px 10px;
      .link {
        z-index: 999;
        position: relative;
        color: #f2f4f3;
        font-family: Ubuntu;
        margin: 0 25px;
        text-decoration: none;
        font-size: larger;
        user-select: none;
        .active{
          width: 100%;
        }
      }
      .link::after{
        z-index: 999;
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        height: 2px;
        background-color: #eb0029;
        width: 40%;
        transition: width 0.3s ease
      }
      .link:hover::after{
        z-index: 999;
        width: 100%;
      }
      .active{
        width: 100%;
      }
    }
  }
}
